body {
    text-align: center;
}

main {
    padding: 0;
    margin: 0;
}

h2 {
    background-color: #333;
    color: white;
}

#game img {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 10%;
}

#restartButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background-color: blue;
}

.btn:active {
    transform: scale(0.98);
}


.rules-btn {
    position: absolute;
    top: 90%;
    left: 0;
}

.rules {
    position: absolute;
    top: 70%;
    left: 0;
    background: #333;
    color: white;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-1000px);
    transition: transform 1s ease-in-out;
}

.rules.show {
    transform: translateX(0);
}

.hidden {
    display: none;
}

#commands {
    left: 0;
}